
.card-login {

    width: 250px;
    border: 1px solid red;
    margin: auto;
    margin-top: 15%;
}

.container-form {
    border: 1px solid  green;
    margin:10px;
    text-align: center;
}

.container-button {
    border: 1px solid  green;
    text-align: center;
    margin:10px;
}

.container-register {
    border: 1px solid  green;
    margin:10px;

}

.container-smarr {
    border: 1px solid  green;
    margin:10px;

}

.container-links {
    border: 1px solid  orange;
    margin:10px;
    text-align: center;

}

label{
    display: flex;
    flex-direction: column;
  }