body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding: 10px;
    border: 1px solid white;

    width: 70%;
    
}

.text-quote {
    border: 1px solid orange;
    font-size: 20px;
    word-wrap: break-word;
}

.author-info {
    font-size: 15px;
    text-align: right;
    border: 1px solid  green;
    word-wrap: break-word;
}

.button-shuffle-top {
    color: white;
    padding: 10px;
    border: 5px solid green;
    text-align: center;
    background-color: rgb(70, 152, 70);
    border-radius: 10px;
    margin-left: 50px;
    
}

.button-shuffle-bottom {
    color: white;
    padding: 10px;
    border: 5px solid green;
    text-align: center;
    background-color: rgb(70, 152, 70);
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
}

.container-button{
    border: 1px solid blue;
}



.main-container{
    width: 50%;
    border: 1px solid red;

    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;

    display: flex;


}


